.layout {
  .header {
    display: flex;
    justify-content: space-between;
    nav {
      >ul {
        list-style: none;
        display: flex;
        flex-wrap: nowrap;
        gap: 10px;
  
        >li {
          >a {
            text-decoration: none;
          }
        }
      }
    }
  }
}