.layout {
  .header {
    display: flex;
    justify-content: space-between;
    padding-inline: 20px;
    align-items: center;
    nav {
      >ul {
        list-style: none;
        display: flex;
        flex-wrap: nowrap;
        gap: 10px;
  
        >li {
          >a {
            text-decoration: none;
          }
        }
        >li.cart-icon {
          position: relative;
          >span {
            position: absolute;
            background-color: red;
            padding: 5px;
            color: #FFF;
            border-radius: 50%;
            width: max-content;
            height: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            top: -10px;
            left: 8px;
            z-index: -1;
          }
        }
      }
    }
  }
}